body
{
	background-color: #fefefe;
}
header
{
	align-content: center;
	width: 100%;
}
h1
{
	color: #902322;
	font-family: "Amatic SC", cursive;
	font-size: 10em;
	margin: 100px auto;
	text-align: center;
}
h2
{
	border-bottom: 2px solid #902322;
	color: #902322;
	font-family: "Oswald", cursive;
	font-size: 3em;
	font-weight: 400;
	margin: 20px;
}
h3
{
	color: #902322;
	font-family: "Oswald", cursive;
	font-size: 1.5em;
	padding: 2px 0;
	text-align: center;
}
i
{
	color: #FFFFFF;
	display: block !important;
	text-align: center;
}
section
{
	background-color: #f5f5f5;
	margin: 20px auto;
	overflow: hidden;
	width: 90%;
	box-shadow: 0 0 20px #902322;
	border-radius: 20px;
}
section div
{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
	padding: 20px;
}
img
{
	max-width: 100%;
	height: auto;
}
.hidden
{
	display: none;
}
#version
{
	box-sizing: border-box;
	color: white;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
}
#version img
{
	vertical-align: middle;
	height: 16px;
	width: auto;
}
a
{
	color: #902322;
}
section div .tooltiptext
{
	visibility: hidden;
	width: 75%;
	background-color: black;
	color: #FFC200;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}
section div:hover .tooltiptext
{
	visibility: visible;
}
p
{
	font-family: "Oswald", sans-serif;
	text-align: right;
}